// Colors

$purple: var(--primary) !default;
$red: #f67693 !default;
$orange: #f49d37;
$yellow: #f6ed76 !default;
$green: #9ff2ae !default;
$blue: #83c2ff !default;

$black: #090910;
$gray: #d7d7dc;
$light-gray: #f5f5fa;
$white: #ffffff;

// Code Colors

$code-red: $purple;
$code-dark-red: #d44545;
$code-blue: #588bbd;
$code-dark-blue: #055472;
$code-green: #169f0c;
